.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px
}

.card {
    /* padding: 1.2em; */
    border: 2px solid #555151;
    margin: 1em 0.25em;
    border-radius: 10px;
    background-color: #1E1D1F;
}

.card__img {
    width: 450px;
    height: 300px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card__title {
    padding: 1.2em;
}

.card__body {
    display: flex;
    justify-content: space-between;
    margin-top: 1.2em;
    margin-bottom: 1em;
    padding: 0 1.2em;
}

.card__tech {
    display: inline-flex;
    padding-right: 0.3em;
}

.card__tech--HTML {
    color: #6abecd;
    font-weight: 700;
}

.card__tech--CSS {
    color: #3e54a3;
    font-weight: 700;
}

.card__tech--JS {
    color: #cf6390;
    font-weight: 700;
}

.card__category {
    display: flex;
    margin-bottom: 1.2em;
}

.card__category--NEWBIE {
    padding: 0 0.75em;
    background-color: #fff;
    color: #6abecd;
    border: 2px solid #6abecd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.card__category--JUNIOR{
    padding: 0 0.75em;
    background-color: #fff;
    color: #aad742;
    border: 2px solid #aad742;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.card__category--INTERMEDIATE{
    padding: 0 0.75em;
    background-color: #fff;
    color: #f1b604;
    border: 2px solid #f1b604;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.card__category--ADVANCED{
    padding: 0 0.75em;
    background-color: #fff;
    color: #f48925;
    border: 2px solid #f48925;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.card__category--GURU{
    padding: 0 0.75em;
    background-color: #fff;
    color: #ed2c49;
    border: 2px solid #ed2c49;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card__category--1 {
    padding: 0 0.75em;
    line-height: 1.5;
    font-size: 1.15rem;
    margin: 0;
    background-color: #6abecd;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.card__category--2 {
    padding: 0 0.75em;
    line-height: 1.5;
    font-size: 1.15rem;
    margin: 0;
    background-color: #aad742;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.card__category--3 {
    padding: 0 0.75em;
    line-height: 1.5;
    font-size: 1.15rem;
    margin: 0;
    background-color: #f1b604;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.card__category--4 {
    padding: 0 0.75em;
    line-height: 1.5;
    font-size: 1.15rem;
    margin: 0;
    background-color: #f48925;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.card__category--5 {
    padding: 0 0.75em;
    line-height: 1.5;
    font-size: 1.15rem;
    margin: 0;
    background-color: #ed2c49;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card__footer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.2em;
}

.chips {
    border: none;
    background-color: black;
    color: white;
    padding: 5px 20px;
    line-height: 24px;
    font-weight: 700;
    margin-right: 2em;
    cursor: pointer;
    border-radius: 5px;
}

.chips:hover {
    background-color: #fcc875;
}

.chips__group {
    display: flex;
}

.chips__NEWBIE {
    background-color: #fff;
    color: #6abecd;
    border: 3px solid #6abecd;
    border-radius: 5px;
    padding: 5px 20px;
    line-height: 24px;
    font-weight: 700;
    margin-right: 2em;
    cursor: pointer;
}

.chips__NEWBIE:active {
    background-color: #6abecd;
    border: 3px solid #fff;
    color: #fff;
}

.chips__JUNIOR {
    background-color: #fff;
    color: #aad742;
    border: 3px solid #aad742;
    border-radius: 5px;
    padding: 5px 20px;
    line-height: 24px;
    font-weight: 700;
    margin-right: 2em;
    cursor: pointer;
}

.chips__JUNIOR:active {
    background-color: #aad742;
    border: 3px solid #fff;
    color: #fff;
}

.chips__INTERMEDIATE {
    background-color: #fff;
    color: #f1b604;
    border: 3px solid #f1b604;
    border-radius: 5px;
    padding: 5px 20px;
    line-height: 24px;
    font-weight: 700;
    margin-right: 2em;
    cursor: pointer;
}

.chips__INTERMEDIATE:active {
    background-color: #f1b604;
    border: 3px solid #fff;
    color: #fff;
}

.chips__ADVANCED {
    background-color: #fff;
    color: #f48925;
    border: 3px solid #f48925;
    border-radius: 5px;
    padding: 5px 20px;
    line-height: 24px;
    font-weight: 700;
    margin-right: 2em;
    cursor: pointer;
}

.chips__ADVANCED:active {
    background-color: #f48925;
    border: 3px solid #fff;
    color: #fff;
}

.chips__GURU {
    background-color: #fff;
    color: #ed2c49;
    border: 3px solid #ed2c49;
    border-radius: 5px;
    padding: 5px 20px;
    line-height: 24px;
    font-weight: 700;
    margin-right: 2em;
    cursor: pointer;
}

.chips__GURU:active {
    background-color: #ed2c49;
    border: 3px solid #fff;
    color: #fff;
}